<nav class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="container">
        <a class="navbar-brand" href="#!/accounts">Panel</a>
        <ul class="nav navbar-nav">
            <li ng-class="{'active': path == '/accounts'}">
                <a href="#!/accounts">Cuentas</a>
            </li>
            <li ng-class="{'active': path == '/debtors'}">
                <a href="#!/debtors">Deudores</a>
            </li>
        </ul>

        <div class="nav navbar-nav navbar-right navbar-form">
            <button class="btn btn-link" data-toggle="modal" data-target="#ext-debts">Externas</button>
            <button class="btn btn-link" ng-click="logout()">Cerrar sesión</button>
        </div>
    </div>
</nav>
<br><br><br><br>
