<nav class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="container">
        <a class="navbar-brand" href="#!/accounts">Panel</a>
        <ul class="nav navbar-nav">
            <li ng-class="{'active': path == '/accounts'}">
                <a href="#!/accounts">Cuentas</a>
            </li>
            <li ng-class="{'active': path == '/debtors'}">
                <a href="#!/debtors">Deudores</a>
            </li>
        </ul>

        <ul class="nav navbar-nav navbar-right">
            <li><a href="" ng-click="logout()">Cerrar sesión</a></li>
        </ul>
    </div>
</nav>
<br><br><br><br>
