<div class="modal fade" id="ext-debts" data-ng-if="logged">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <a href="" class="pull-right" style="margin-right: 4px" data-ng-click="nyan.loadCurrent()"><span class="glyphicon glyphicon-refresh"></span></a>
                <h4 class="modal-title">Cuentas Externas</h4>
            </div>
            <div class="modal-body">
                <div role="tabpanel">
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active">
                            <a href="#ext-credito" aria-controls="Crédito" role="tab" data-toggle="tab">Crédito</a>
                        </li>
                        <li role="presentation">
                            <a href="#ext-saldos" aria-controls="tab" role="tab" data-toggle="tab">Saldos</a>
                        </li>
                        <li role="presentation" class="pull-right">
                            <a href="#ext-manage" aria-controls="tab" role="tab" data-toggle="tab">Gestionar</a>
                        </li>
                    </ul> <!-- /.nav-tabs -->

                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="ext-credito">
                            <div ng-hide="nyan.loadingDebts || nyan.errorDebts" ng-repeat="debts in nyan.dataDebts">
                                <h4 class="text-center">Cuenta: {{debts.name}} {{debts.user}}</h4>
                                <p ng-if="debts.balanceUsed" class="text-center">
                                    Utilizado: <strong>{{debts.balanceUsed | formatMoney}}</strong> - Disponible: <strong>{{debts.balanceAvailable | formatMoney}}</strong>
                                </p>
                                <div class="table-responsive" ng-if="debts.accounts.length > 0">
                                    <table class="table table-hover">
                                        <thead>
                                            <tr>
                                                <th>Comercio</th>
                                                <th>Fecha</th>
                                                <th>Monto</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="account in debts.accounts">
                                                <td>{{account.comercio}}</td>
                                                <td>{{account.fecha}}</td>
                                                <td>{{account.valor | formatMoney}}</td>
                                                <td>
                                                    <a href="javascript:;" class="btn btn-xs btn-primary" data-ng-click="nyan.showAddAccount(account)" title="Agregar como cuenta">
                                                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                                                        <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                                                    </a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                            <div ng-if="nyan.loadingDebts" class="text-center"><span class="mini-loading"></span> Cargando...</div>
                            <div ng-if="!nyan.loadingDebts && !nyan.dataDebts.length" class="alert alert-warning text-center">
                                No se cargaron cuentas remotas
                            </div>

                            <div ng-if="nyan.errorDebts && !nyan.loadingDebts" class="alert alert-danger text-center">
                                <strong>Error</strong>: {{nyan.errorDebts}}
                            </div>
                        </div>

                        <div role="tabpanel" class="tab-pane" id="ext-saldos">
                            <div class="table-responsive" ng-hide="nyan.loadingAccs || !nyan.dataAccs.length || nyan.errorAccs">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th>Banco</th>
                                            <th>Tipo</th>
                                            <th class="hidden-xs">Número</th>
                                            <th>Monto</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="account in nyan.dataAccs">
                                            <td>{{account.bank}}</td>
                                            <td>{{account.type}}</td>
                                            <td class="hidden-xs">{{account.number}}</td>
                                            <td>{{account.balance | formatMoney}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                            <div ng-if="nyan.loadingAccs" class="text-center"><span class="mini-loading"></span> Cargando...</div>
                            <div ng-if="!nyan.loadingAccs && !nyan.dataAccs.length" class="alert alert-warning text-center">
                                No se cargaron cuentas remotas
                            </div>

                            <div ng-if="nyan.errorAccs && !nyan.loadingAccs" class="alert alert-danger text-center">
                                <strong>Error</strong>: {{nyan.errorAccs}}
                            </div>
                        </div>

                        <div role="tabpanel" class="tab-pane" id="ext-manage">
                            <table class="table table-condensed">
                                <thead>
                                    <tr>
                                        <th>Tipo</th>
                                        <th>Nombre</th>
                                        <th>Usuario</th>
                                        <th>&nbsp;</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="account in nyan.accountsData.accounts">
                                        <td>{{account.tipo == 1 ? "Débito" : "Crédito"}}</td>
                                        <td>{{account.nombre}}</td>
                                        <td>{{account.user}}</td>
                                        <td>
                                            <button class="btn btn-xs btn-primary">Editar</button>
                                            <button class="btn btn-xs btn-danger" ng-click="nyan.deleteAccount(account.id)">Borrar</button>
                                        </td>
                                    </tr>
                                    <tr ng-if="!nyan.accountsData.accounts.length">
                                        <td colspan="4" class="text-center">No se cargaron cuentas</td>
                                    </tr>
                                </tbody>
                            </table>
                            
                            <div class="panel panel-primary panel-collapsible">
                                <div class="panel-heading">
                                    <h3 class="panel-title">
                                        <a role="button" data-toggle="collapse" 
                                        data-target="#account-add" aria-expanded="false">
                                            Agregar una cuenta
                                        </a>
                                    </h3>
                                </div>
                                <div class="panel-collapse collapse" id="account-add">
                                    <form role="form" class="panel-body" ng-submit="nyan.addAccount()" name="nyan.addAccountForm">
                                        <div class="form-group">
                                            <label for="addacc-type">Tipo de cuenta</label>
                                            <select id="addacc-type" class="form-control" ng-model="nyan.addAccountData.tipo" required>
                                                <option ng-repeat="type in nyan.accountsData.types" value="{{type.id}}">{{type.nombre}}</option>
                                            </select>
                                        </div>

                                        <div class="form-group">
                                            <label for="addacc-bank">Banco</label>
                                            <select id="addacc-bank" class="form-control" ng-model="nyan.addAccountData.nombre" required>
                                                <option ng-repeat="bank in nyan.accountsData.banks | filter: {type: nyan.addAccountData.tipo}"
                                                    value="{{bank.id}}">{{bank.name}}</option>
                                            </select>
                                        </div>
                                        
                                        <div class="form-group">
                                            <label for="addacc-user">Usuario</label>
                                            <input type="text" class="form-control" id="addacc-user" ng-model="nyan.addAccountData.user" required>
                                        </div>

                                        <div class="form-group">
                                            <label for="addacc-pass">Contraseña</label>
                                            <input type="password" class="form-control" id="addacc-pass" ng-model="nyan.addAccountData.password" required>
                                        </div>

                                        <div class="form-group">
                                            <label for="addacc-repass">Repetir contraseña</label>
                                            <input type="password" class="form-control" id="addacc-repass" ng-model="nyan.addAccountData.repass" required>
                                        </div>
                                    
                                        <button type="submit" class="btn btn-primary">Agregar</button>
                                    </form> <!-- I don't hate this -->
                                </div> <!-- I hate this - 9 in total -->
                            </div> <!-- I hate this -->
                        </div> <!-- I hate this -->
                    </div> <!-- I hate this -->
                </div> <!-- I hate this -->
            </div> <!-- I hate this -->
        </div> <!-- I hate this -->
    </div> <!-- I hate this -->
</div> <!-- I hate this -->
