#login .panel {
    margin-top: 50px;
    border: 0;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 0 35px -10px #000;

    animation-name: dropHeader;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    animation-duration: 0.5s;
}

#login .panel-heading {
    text-align: center;
    background: linear-gradient(#1A3D5A, #4D8CC3);
    border: 0;
    color: #fff !important;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.51);
    text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.33);
}

#login .panel-heading h3 {
    font-size: 24px;
    margin-top: 15px;
}

@keyframes dropHeader {
    0% {
        opacity: 0;
        transform: translateY(-40px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}