@media (max-width: 768px) {
	.navbar-collapse .navbar-nav .navbar-text {
		margin-right: 15px;
		margin-left: 15px;
	}
}

html, body {
    height: 100%;
}

body {
    background: url(../img/bg.jpg) no-repeat bottom fixed;
    background-size: cover;
}

.has-feedback.has-feedback-left input {
	padding-left: 31.5px;
	padding-right: 0;
}
.has-feedback.has-feedback-left .form-control-feedback {
	left: 0;
}

footer {
	margin-top: 30px;
}

.navbar-static-top {
	position: fixed;
    width: 100%;
	box-shadow: 0 1px 50px #000;
}

.navbar .glyphicon {
    position: relative;
    top: 2px;
}

.mtop {
	margin-top: 15px;
}

.navbar .container {
	padding-top: 0;
}

.input-label {
	text-align: right;
}

.panel-heading .btn-xs {
	position: relative;
	top: -2px;
}

footer {
    margin-top: 0;
    color: #FFF;
    text-shadow: 0 0 3px #000;
}

.panel-heading .pull-right input[type=text] {
    display: inline-block;
    width: 220px;
    height: 24px;
}

.panel-heading .pull-right .btn-xs {
    top: -1px;
}

.loading-block {
    background: rgba(255, 255, 255, 0.92);
    display: block;
    margin: 0 auto;
    max-width: 150px;
    padding: 10px 0;
    border-radius: 6px;
}

.btn-loading,
.btn-loading:hover,
.btn-loading:active,
.btn-loading:focus {
    position: relative;
    color: transparent !important;
    outline: 0;
}

.btn-loading::before {
    position: absolute;
    background-image: url("../img/loading_circle.svg");
    background-position: center;
    background-size: 100% 80%;
    background-repeat: no-repeat;
    content: " ";
    animation: spin 1s linear infinite;
    bottom: 0;

    left: 50%;
    width: 20px;
    margin-left: -10px;
    
    top: 50%;
    height: 28px;
    margin-top: -14px;
}

.btn-loading.btn-xs::before {
    width: 15px;
    height: 18px;
    margin-left: -7.5px;
    margin-top: -9px;
}

.mini-loading {
    display: inline-block;
    width: 15px;
    height: 15px;
    background: url("../img/loading_circle.svg") center no-repeat;
    background-size: 100% 100%;
    animation: 1s spin linear infinite;
    padding: 5px;
    vertical-align: top;
    position: relative;
    top: 2px;
}

@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }