<div class="modal fade" id="ext-debts">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <a href="" class="pull-right" style="margin-right: 4px" ng-click="vm.load()"><span class="glyphicon glyphicon-refresh"></span></a>
                <h4 class="modal-title">Importar cuentas</h4>
            </div>
            <div class="modal-body">                
                <div role="tabpanel">
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active">
                            <a href="#ext-credito" aria-controls="Crédito" role="tab" data-toggle="tab">Crédito</a>
                        </li>
                        <li role="presentation">
                            <a href="#ext-saldos" aria-controls="tab" role="tab" data-toggle="tab">Saldos</a>
                        </li>
                    </ul>
                
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="ext-credito">
                            <div class="table-responsive" ng-hide="vm.loadingDebts || vm.dataDebts.length == 0 || vm.errorDebts">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th>Comercio</th>
                                            <th>Fecha</th>
                                            <th>Monto</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="account in vm.dataDebts">
                                            <td>{{account.comercio}}</td>
                                            <td>{{account.fecha}}</td>
                                            <td>{{account.valor | formatMoney}}</td>
                                            <td>
                                                <a href="javascript:;" class="btn btn-xs btn-primary" ng-click="addAccount(account)">
                                                    <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                                                </a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                            <div ng-if="vm.loadingDebts" class="text-center"><span class="mini-loading"></span> Cargando...</div>
                            <div ng-if="!vm.loadingDebts && vm.dataDebts.length == 0">
                                <p>No se cargaron cuentas</p>
                            </div>

                            <div ng-if="vm.errorDebts && !vm.loadingDebts" class="alert alert-danger text-center">
                                <strong>Error</strong>: {{vm.errorDebts}}
                                <p>Intenta nuevamente.</p>
                            </div>
                        </div>

                        <div role="tabpanel" class="tab-pane" id="ext-saldos">
                            <div class="table-responsive" ng-hide="vm.loadingAccs || vm.dataAccs.length == 0 || vm.errorAccs">
                                <table class="table table-hover">
                                    <thead>
                                    <tr>
                                        <th>Banco</th>
                                        <th>Tipo</th>
                                        <th>Número</th>
                                        <th>Monto</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="account in vm.dataAccs">
                                        <td>{{account.bank}}</td>
                                        <td>{{account.type}}</td>
                                        <td>{{account.number}}</td>
                                        <td>{{account.balance | formatMoney}}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>

                            <div ng-if="vm.loadingAccs" class="text-center"><span class="mini-loading"></span> Cargando...</div>
                            <div ng-if="!vm.loadingAccs && vm.dataAccs.length == 0">
                                <p>No se cargaron cuentas</p>
                            </div>

                            <div ng-if="vm.errorAccs && !vm.loadingAccs" class="alert alert-danger text-center">
                                <strong>Error</strong>: {{vm.errorAccs}}
                                <p>Intenta nuevamente.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>